h1 {
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}

body {
	background-color: #000000;
	text-align: center;
}

*{
	font-family: verdana, sans-sarif;
}

.download {
	color: aquamarine;
	font-size: 16px;
}

