h1 {
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: #FFFFFF;
}

body {
	background-color: #000000;
	text-align: center;
}

*{
	font-family: verdana, sans-sarif;
}

.download {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}

#infoGuide {
	font-size: 21px;
	color: gray;
}

video {
	padding-top: 2%;
}

